In [1]:
import pandas as pd

In [2]:
#Use the Notebook to build the code to scrape the following Wikipedia pag
tables=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
data=tables[0]

#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
data.columns=["PostalCode","Borough","Neighborhood"]

#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
data=data[data['Borough']!= 'Not assigned']

In [6]:
#More than one neighborhood can exist in one postal code area,These two rows will be combined into one row with the neighborhoods.
unique_postal=data['PostalCode'].unique()
data.set_index('PostalCode',drop=False,inplace=True)
seperator=', '
for x in unique_postal:
    a=data.loc[x]
    if a.size>3:
        neighborhood=seperator.join(a['Neighborhood'])
        data.loc[x,'Neighborhood']=neighborhood
data.drop_duplicates('PostalCode', inplace=True)
data.reset_index(drop = True, inplace=True)
data.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M9A         Etobicoke  Islington Avenue

In [4]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
data=data[data['Neighborhood']!= 'Not assigned']

#So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
data.set_index('PostalCode',drop=False,inplace=True)
data.loc['M9V']['Borough']=data.loc['M9V']['Neighborhood']="Queen's Park"
data.reset_index(drop = True, inplace=True)

In [5]:
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
print("The shape of this dataframe is "+ str(data.shape))

The shape of this dataframe is (102, 3)